header, footer {
  text-align: center;
  padding: 10px;
  height: 20px;
  background-color: #f4f4d8;
}

/* Add this to style the iframe separately */

iframe {
  display: block;
  margin: 20px auto 20px; /* Top margin equals header height, bottom margin equals footer height */
  width: 100%;
  height: calc(100vh - 40px); 
  overflow-y: auto; /* Enable vertical scrolling */
  border: none;
}

/* Styles for Cesium container and Google Map */
#cesiumContainer, #googleMap {
  height: calc(100vh - 40px); /* Adjust the height based on your header/footer size */
  width: 100%;
  position: absolute;
  top: 50px; /* Adjust this value if header height changes */
  left: 0;
  bottom: 50px; /* Adjust this value if footer height changes */
  right: 0;
  z-index: 0;
  overflow: hidden; /* Hide overflow to prevent scrollbars on the main container */
}

/* Global body styles */
body {
  margin: 0;
  padding: 0; /* Added to remove default margin and padding */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Styles for header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Ensure it's above other elements */
  padding: 8px;
  background-color: #f4f4d8;
}

/* Styles for footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Ensure it's above other elements */
  padding: 5px;
  background-color: #f4f4d8;
  font-size: 10px;
  font-family: 'Arial', sans-serif;
}
