header, footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4d8;
}

#cesiumContainer, #googleMap {
  height: calc(100vh - 120px); 
  width: 100%;
  position: absolute;
  top: 120px; 
  left: 0;
  bottom: 110px; 
  right: 0;
  z-index: 1;
}

/* Global body styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  background-color: #f4f4d8;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
  background-color: #f4f4d8;
  font-size: 8px; 
  font-family: 'Arial', sans-serif; 
}
