/* Styles.css content */
header, footer {
  text-align: center;
  background-color: #f4f4d8;
  z-index: 10; /* Ensure it's above other elements */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Adjust based on the content of your header */
  padding: 10px 0; /* Vertical padding */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; /* Adjust based on the content of your footer */
  padding: 10px 0; /* Vertical padding */
  font-size: 10px;
  font-family: 'Arial', sans-serif;
}

iframe {
  display: block;
  margin: 60px auto 40px; /* Top and bottom margins match header and footer */
  width: 100%;
  height: calc(100vh - 100px); /* Height adjusted for header and footer */
  overflow-y: auto; /* Enable vertical scrolling */
  border: none;
}

body {
  margin: 0;
  padding-top: 60px; /* Top padding matches header height */
  padding-bottom: 40px; /* Bottom padding matches footer height */
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Ensure that the main container does not create horizontal scroll */
#cesiumContainer, #googleMap {
  position: absolute;
  top: 60px; /* Same as header height */
  left: 0;
  right: 0;
  bottom: 40px; /* Same as footer height */
  overflow: hidden; /* Hide overflow to prevent scrollbars on the main container */
}
